[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"

[packages]
slackeventsapi = "*"
gunicorn = "*"
requests = "*"
slackclient = "*"
docutils = "*"
pytest = "*"
sphinx = "*"
bs4 = "*"
lxml = "*"
pytz = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
